body{
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.footer-link{
  font-size: 0.8rem;
  
}
.mt-2{
  margin: 2rem 0 0;
}
.company{
  font-style: italic;
  font-weight: 400;
}
.bg-color{
 background-color:  #3a3a3a;
 width: 100%;
}
.price{
  margin-bottom: 1rem;
}
.btncart{
  border: none;
  cursor: pointer;
  background-color: #fff;
}
.icon{
  font-size: 2rem;
  background-color: none;
  position: absolute;
}
.badge{
  position: relative;
  left: 18px;
  bottom: -2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 39px;
  background-color: red;
  color: #000;
}